<br>
<hr />
<h1>All Your Favorite Movies</h1>
<hr />
<br>
<br>


<div class="row row-cols-1 row-cols-md-2 g-4 mx-3">
  <% @favorites.each do |favorite| %>
    <div class="col-md-3">
      <div class="card">
        <img src="https://q9c3t4p4.rocketcdn.me/wp-content/uploads/2019/02/white-heat-movie-eight.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">White Heat</h5>
          
        </div>
      </div>
    </div>
  <% end %>
  
</div>