<br>
<hr />
<h1>All Your Favorite Movies</h1>
<hr />
<br>
<br>


<div class="row row-cols-1 row-cols-md-2 g-4 mx-3">
  <% @favorites.each do |favorite| %>
    
    <div class="col-md-3">
      <div class="card">
        <img src="<%= favorite.movie.image_url %>" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title"><%= favorite.movie.name %></h5>
          
        </div>
      </div>
    </div>
  <% end %>
  
</div>

