
<%= form_with model: @favorite do |form|  %>
  
  <div>
    <%= form.text_field :current_user_id %>
  </div>

  <div>
    <%= form.text_field :current_movie_id %>
  </div>
  



user_id: current_user.id