<h1>All Movies</h1>

<% @movies.each do |movie| %>
  <h2><%= movie.name %></h2>
  <%= image_tag(movie.image_url, style: 'width: 200px; height: 300px;') %>
  <br>
  <a href="/movies/<%= movie.id %>">More info</a>
<% end %>
