<br>
<hr />
<h1>All Movies</h1>
<hr />
<br>
<br>


<div class="row row-cols-1 row-cols-md-3 mx-3 gx-5 gy-5 mb-5">
  <% @movies.each do |movie| %>
    <div class="col-md-3">
      <div class="card text-bg-secondary border-light mb-3 h-100">
        <a href="/movies/<%= movie.id %>">
          <img src="<%= movie.image_url %>" class="card-img-top">
        </a>
        <div class="card-body">
          <div style="display: flex; justify-content: center;">
            <h3 class="card-title"><%= movie.name %></h3>
          </div>
          <br>
          <div style="display: flex; justify-content: center;">
            <a href="/movies/<%= movie.id %>">
              <button type="button" class="btn btn-dark mb-3">More Info</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



