<br>
<hr />
<h1>All Movies</h1>
<hr />
<br>
<br>


<div class="row row-cols-1 row-cols-md-2 g-4 mx-3">
  <% @movies.each do |movie| %>
    <div class="col-md-3">
      <div class="card">
        <img src="<%= movie.image_url %>" class="card-img-top">
        <div class="card-body">
          <div style="display: flex; justify-content: center;">
          <h5 class="card-title"><%= movie.name %></h5>
          </div>
          <br>

          <div style="display: flex; justify-content: center;">
          <p><a href="/movies/<%= movie.id %>">
            <button type="button" class="btn btn-success">More Info</button>
          </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
</div>


