<br>
<hr />
<h1>All Users</h1>
<hr />
<br>
<br>


<div class="row row-cols-1 row-cols-md-2 g-4 mx-3 mb-5">
  <% @users.each do |user| %>
    <div class="col-md-3">
      <div class="card h-100">
        <img src="<%= user.image_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <div style="display: flex; justify-content: center;">
          <br>
            <a href="/users/<%= user.id %>">
              <button type="button" class="btn btn-success">More Info</button>
            </a>
    </div>
        </div>
      </div>
    </div>
    
  <% end %>
  
</div>


