<br>
<hr>
<h1>User Info</h1>
<hr>
<br>


<br>
<a href="/users">Back to all users</a>



<div class="row row-cols-1 row-cols-md-2 g-4 mx-3">
  
    <div class="col-md-3">
      <div class="card">
        <img src="<%= @user.image_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
        </div>
      </div>
    </div>
  